<form [formGroup]="signinForm" (ngSubmit)="signin()">
  <h1>Sign in</h1>
  <div>
    <input formControlName="email" type="text" name="email" placeholder="Email" id="email"
           [ngClass]="{ 'is-invalid': submitted && this.signinForm.controls.email.errors }"/>
    <div *ngIf="submitted && this.signinForm.controls.email.errors" class="invalid-feedback">
      <div *ngIf="this.signinForm.controls.email.errors.required">Email is required</div>
      <div *ngIf="this.signinForm.controls.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div>
    <input formControlName="password" type="password" name="password" placeholder="Password" id="password"
           [ngClass]="{ 'is-invalid': submitted && this.signinForm.controls.password.errors }"/>
    <div *ngIf="submitted && this.signinForm.controls.password.errors" class="invalid-feedback">
      <div *ngIf="this.signinForm.controls.password.errors.required">Password is required</div>
      <div *ngIf="this.signinForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div>
    <button>Log in</button>
    <a href="/forgotten-password">Forgotten password</a>
    <a routerLink="/signup" routerLinkActive="active">Sign up</a>
  </div>
</form>
